# Ignore everything by default
/*

# Include all files in the project root folder
!/*

# Ignore
/*.cvs

# Include the 'graph' subfolder and its files, but not its subdirectories
!graphs/
graphs/*/

# Include the 'lua' subfolder and its files, but not its subdirectories
!scripts/
scripts/*/

# Include the 'res' subfolder and all its files and subdirectories
!res/

# Ignore the __pycache__ folder and its contents
__pycache__/
.vscode/
.git/
.idea/
